<div *ngIf="newVaccine" class="vaccine-card">
  <div class="title-vaccine">
    {{newVaccine[0].vaccine.name}}
  </div>
  <div class="body-vaccine">
    <div class="internal-body-vaccine">
      <div class="internal-body-vaccine-content-details" *ngFor="let item of newVaccine; let i = index">
        
          <h3>{{i+1}}a Dose</h3>
          <p>Lote</p>
          <p>{{item.vaccineLot}}</p>
          <p>Validade</p>
          <p>{{item.vaccineExpirationDate}}</p>
          <p>Data</p>
          <p>{{item.dataVaccine}}</p>
        
      </div>
    </div>
  </div>
  <div class="footer-vaccine">
      <div class="internal-body-vaccine-content-details" >
          <p>Descrição</p>
          <p>{{newVaccine[0].vaccine.description}}</p>
        </div>   
  </div>
</div>