<header>
    <div class="container">
        <div>
          <a routerLink="/" routerLinkActive="selected">Nome do app </a>
        </div>
        <div class="align-center">
          <div>
            <a routerLink="/vacinacao" routerLinkActive="selected">Carteira de Vacinação</a>
          </div>
          <div>
            <a routerLink="/emergencia" routerLinkActive="selected">Carteira de Emergência</a>
          </div>
          <div>
            <a routerLink="/ocorrencias" routerLinkActive="selected">Ocorrências Médicas</a>
          </div>
        </div>
      </div>
</header>
